*{
margin: 0;
padding: 0;
box-sizing: border-box;
font-family: "Montserrat", sans-serif;
}

.grid{
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    width: 100%;
    max-width: 1100px;
    height: 100vh;
    margin: auto;
    gap: 10px;
    overflow: hidden;
}

header{
    display: grid;
    grid-template-columns: subgrid;
    grid-template-rows: repeat(2, auto);
    height: 670px; ;
    grid-column: span 12;
    background: rgb(247, 247, 247);
}

.container{
    margin: 0 auto;
    width: max-content;
    min-height: 20px;
    padding: 25px 0;
}
.nav{
    display: grid;
    justify-content: space-between;
    align-items: center;  
    justify-content: space-around;
    grid-column: 1/13;
    grid-template-columns: subgrid;
    color: rgb(51, 42, 38);
}

#logo{
    width: 90%;
    min-width: 50px;
    min-height: 50px;
}

.div-menu{
    display: grid;
    justify-content: space-between;
    align-items: center;  
    grid-column: 7/13;
    grid-template-columns: subgrid;
    gap: 20px;
}
button#btn-get{
    width: 90%;
    min-width: 115px;
    min-height: 35px;
    border-style: none;
    padding: 0 5px;
    color: white;
    background: rgb(252, 93, 53);
}
.menu{
    display: flex;
    min-width: 100px;
    text-decoration: none;
    font-size: 18px;
    font-weight: 550;
    text-align: center;
    color: rgb(104, 104, 104);
    justify-content: space-evenly;
}
img#img-buscar{
    width: 90%;
    max-width: 20px;
    height: auto;
}
#contactanos{
    margin-left: 20px;        
}
.text-bienvenida{
    grid-column: 1/8;
    grid-row: 2/4;
    padding: 100px 0;
    padding-right: 20px;
    
}
.bienevenida{
    font-size: 55px;
    padding: 10px 0;
    font-weight: 800;
}
.p-bienvenida{
    padding: 45px 0;
    font-size: 17px;
    color: rgb(104, 104, 104);
    font-weight: 500;
    text-align: justify;
}
.img-slide{
    width: 100%;
    height: auto;
    grid-column: 8/13;
    grid-row: 2;
    padding-top: 110px;
    text-align: center;
}
.img{
    width: 100%;
    max-width: 510px;
}
.botones{
   padding-bottom: 25px;
   padding-top: 20px;

   display: grid;
   grid-template-columns: repeat(2, 168px);
   justify-content: stretch;
}
button#btn-comprar, button#btn-contacto{
    width: 95%;
    max-width: 150px;
    min-height: 45px;
    border-style: none;
    font-size: 15px;
}

button#btn-comprar{
    color: white;
    background: rgb(252, 93, 53);
}

button#btn-contacto{
    color: white;
    background: black;
}
.tasty{
    background-image: url(images/tasty-image.png);
}

div.imagen_footer{
    width: 100px;
    height: 250px;
    background-image: url(images/orange-dish.png);
    
}