*{
margin: 0;
padding: 0;
box-sizing: border-box;
font-family: "Montserrat", sans-serif;
}

.grid{
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    width: 100%;
    max-width: 1100px;
    height: 100%;
    margin: auto;
    gap: 10px;
    overflow: hidden;
}

header{
    display: grid;
    grid-template-columns: subgrid;
    grid-template-rows: repeat(2, auto);
    height: 670px; ;
    grid-column: span 12;
    background: rgb(247, 247, 247);
}

.container{
    margin: 0 auto;
    width: max-content;
    min-height: 20px;
    padding: 25px 0;
}
.nav{
    display: grid;
    justify-content: space-between;
    align-items: center;  
    justify-content: space-around;
    grid-column: 1/13;
    grid-template-columns: subgrid;
    color: rgb(51, 42, 38);
}

#logo{
    width: 90%;
    min-width: 50px;
    min-height: 50px;
}

.div-menu{
    display: grid;
    justify-content: space-between;
    align-items: center;  
    grid-column: 7/13;
    grid-template-columns: subgrid;
    gap: 20px;
}
button#btn-get{
    width: 90%;
    min-width: 115px;
    min-height: 35px;
    border-style: none;
    padding: 0 5px;
    color: white;
    background: rgb(252, 93, 53);
}

.menu{
    display: flex;
    min-width: 100px;
    text-decoration: none;
    font-size: 18px;
    font-weight: 550;
    text-align: center;
    color: rgb(104, 104, 104);
    justify-content: space-evenly;
}

img#img-buscar{
    width: 90%;
    max-width: 20px;
    height: auto;
}

#contactanos{
    margin-left: 20px;        
}

.text-bienvenida{
    grid-column: 1/8;
    grid-row: 2/4;
    padding: 100px 0;
    padding-right: 20px;  
}

.bienevenida{
    font-size: 55px;
    padding: 10px 0;
    font-weight: 800;
}

.p-bienvenida{
    padding: 45px 0;
    font-size: 17px;
    color: rgb(104, 104, 104);
    font-weight: 500;
    text-align: justify;
}

.img-slide{
    width: 100%;
    height: auto;
    grid-column: 8/13;
    grid-row: 2;
    padding-top: 110px;
    text-align: center;
}

.img{
    width: 100%;
    max-width: 510px;
}

.botones{
   padding-bottom: 25px;
   padding-top: 20px;
   display: grid;
   grid-template-columns: repeat(2, 168px);
   justify-content: stretch;
}

button#btn-comprar, button#btn-contacto{
    width: 95%;
    max-width: 150px;
    min-height: 45px;
    border-style: none;
    font-size: 15px;
}

button#btn-comprar{
    color: white;
    background: rgb(252, 93, 53);
}

button#btn-contacto{
    color: white;
    background: black;
}

.servicios{
    height: 700px;
    margin: 5% 0;
}

.servicios_info{
    grid-column: 1/-1;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;  
}

h2#servicios{
    font-size: 35px;
    width: 1000px;
    height: auto;
    text-align: center;
    margin-bottom: 6%;
}

.p-servicio{
    width: 100%;
    max-width: 1000px;
    max-height: 50px;
    text-align: center;
    color: rgb(104, 104, 104);
    font-weight: 500;
    font-size: 18px;
}

.tarjetas{
    grid-column: 1/-1;
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    gap: 15px;
}

.tarjeta{
    width: 32%;
    height: 70%;
    border-radius: 1%;
    border: 1px solid rgb(206, 206, 206);
    padding: 1%;
    text-align: center;
    gap: 10px;
    overflow: hidden;
    color: rgb(104, 104, 104);
    font-weight: 500;
    font-size: 17px;
    box-sizing: border-box;
}

figure #icon{
    width: 90%;
    max-width: 50px;
    max-height: 50px;
    margin-top: 40px;
    margin-bottom: 25px;
}

h3{
    font-weight: 400;
    color: rgb(252, 93, 53);
    margin-bottom: 10px;
}

button#btn-read_more{
    width: 95%;
    max-width: 150px;
    min-height: 45px;
    border-style: none;
    font-size: 17px;
    color: white;
    background: black;
}

.vista_frutas{
    width: 100%;
    height: auto;
}

.frutas_info{
    grid-column: 1/-1;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;  
}

h2#frutas-title{
    font-size: 35px;
    width: 1000px;
    height: auto;
    text-align: center;
    margin-bottom: 6%;
}

.p-frutas{
    width: 100%;
    max-width: 1000px;
    max-height: 200px;
    text-align: center;
    color: rgb(104, 104, 104);
    font-weight: 500;
    font-size: 18px;
    margin-bottom: 6%;
}

.frutas_frescas{
    grid-column: 1/-1;
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: space-evenly;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 20px;
}

h4{
    width: 1000px;
    font-size: 30px;
    font-weight: 450;
}
.p-fruta{
    width: 65%;
    height: fit-content;
    margin-right: 50px;
    margin-bottom: 20px;
    display: grid;
    gap: 60px;
}
.fruta{
    width: 100%;
    height: auto;
    display: flex;
    /* flex-direction: column; */
    flex-wrap: wrap;
    gap: 10px;
    justify-content: space-between;
    align-items: center;

}

.div-frutas{
    width: 25%;
}

img#img-frutas{
    width: 100%;
    overflow: hidden;
    object-fit: contain;
    aspect-ratio: 1/1;
}

.btn-buy_now{
    width: 95%;
    max-width: 150px;
    min-height: 45px;
    border-style: none;
    font-size: 17px;
    color: white;
    background: black;
}

.tasty{
    display: flex;
    background-image: url(images/tasty-image.png);
    width: 100%;
    height: 550px;
    color: white;
    justify-content: center;
    text-align: center;
    align-items: center;
    font-size: 75px;
    margin-top: 60px;
    object-fit: fill;
}

.contacto{
    grid-column: 1/8;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 20px;
    justify-content: space-between;
}

h2#contactanos{
    width: 100%;
    font-size: 35px;
    margin-top: 10%;
    margin-bottom: 5%;
    margin-left: 0px;
}

.input{
    font-size: 15px;
    font-weight: 500;
    color: rgb(104, 104, 104);
    border-top-style: none;
    border-left-style: none;
    border-right-style: none;  
}

#message{
    margin-top: 8%;
}
#btn-send{
    width: 95%;
    max-width: 110px;
    min-height: 35px;
    border-style: none;
    font-size: 15px;
    color: white;
    background: rgb(252, 93, 53);
    margin: 5% 0;
}


div.imagen_footer{
    grid-column: 11/-1;
    width: 100%;
    display: flex;
    align-items: center;
}

#img-footer{
    width: 100%;
    height: 355px;
    object-fit: fill;

}